@tailwind base;
@tailwind components;
@tailwind utilities;

.data-table {
  border-collapse: collapse;
  width: 100%;
}

.data-table th,
.data-table td {
  border: 2px solid black;
  padding: 8px;
}

.data-table th {
  background-color: #e5e7eb;
}
